# Environment variables
.env

# Python cache/compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment folders (if you use one)
venv/
env/
.venv/
.env
/.env
# Configuration/Data files (Optional - if you don't want to share them)
server_configs.json
hashes_*.json
hashes_1288939910530727968.json
server_configs.json

/.idea/DiscordDuplicateImageDetector.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/shelf/Updated_gitignore.xml
/.idea/vcs.xml
/.idea/workspace.xml
